{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>stock</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        {% for products in product %}
            <tr>
                <td>
                    {{ products.id }}
                </td>
                <td>
                    {{ products.name }}
                </td>
                <td>
                    {{ products.price }}
                </td>
                <td>
                    {{ products.stock }}
                </td>
                <td>
                    <a href="/product/update?id={{ products.id }}">edit</a>
                    <a href="/product/delete?id={{ products.id }}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
