<!DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}FLASK TUTORIAL</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
  {% block panel %}
  <div class="container">
      <div class="panel panel-info">
          <div class="panel-heading">
                  <h1>FLASK Tutorial <small>oleh Yunindyo Prabowo</small></h1>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              {% block panel_info %}
              <div class="panel panel-primary">
                  <div class="panel-heading">
                          <center>Tutorial Flask </center>
                  </div>
                  <div class="panel-body">
                      <header>
                          Aplikasi <i><b>CRUD</b></i> menggunakan flask sebagai development frameworknya. Berisikan penngenalan
                          Routing, Templating (View in MVC), Viewing (Controller in MVC) dan crud menggunakan Raw_query
                      </header>
                  </div>
                  <center>
                       <a href="{{url_for('login')}}" class="btn btn-info" role="button">Return Login Page </a>
                   </center>
              </div>
              {% endblock %}

          </div>
          <div class="col-md-4">

          </div>
      </div>
  </div>

      {% endblock %}
      <div class="container">

          {% block content %}

          {% endblock %}
      </div>



     <script src="/assets/js/jquery-min.js"></script>
     <script src="/assets/js/bootstrap.min.js"></script>
     {% block panel_script %}

     {% endblock %}
  </body>
</html>
