{% extends "base.html" %}
{% block title %}
    Dasboard
{% endblock %}
{% block panel %}
{% endblock %}
{% block content %}
        <div class="" style="padding:10px">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            {% block title_panel %}
                            <h1><strong>Dasboard</strong> <small>{{username}}</small></h1>
                            {% endblock %}
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <a href="{{ url_for('logout') }}"class="btn btn-info navbar-right" role="button" style="margin-top:15px;margin-right:5px;"><span class="glyphicon glyphicon-off" aria-hidden="false"></span> Logout</a>
                        </div>
                    </div>
                    <nav class="navbar navbar-default ">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                {% block panel_navigation %}
                                <li><a href="/product/add">add product</a></li>

                                {% endblock %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            {% block content_panel %}

            <div class="row">
                <div class="col-md-4">

                </div>

                <div class="col-md-4">
                    {% block panel_list_product %}

                    <table class="table table-bordered table-striped" fixed-header>

                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>price</th>
                            <th>stock</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in resultProduct %}
                            <tr>
                                <td>
                                    {{ item[0] }}
                                </td>
                                <td>
                                    {{ item[1] }}
                                </td>
                                <td>
                                    {{ item[2] }}
                                </td>
                                <td>
                                    {{ item[3] }}
                                </td>
                                <td>
                                    <a href="/product/update?id={{ item[0] }}">edit</a>
                                    <a href="/product/delete?id={{ item[0] }}">delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}
                </div>
                <div class="col-md-4">

                </div>
            </div>

            {% endblock %}
        </div>
{% endblock %}
