<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tutorial Flask</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
    </head>
    <body>
        <div class="" style="padding:10px">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1>Tutorial Flask Bahasa Indonesia <small>oleh Yunindyo Prabowo</small></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{url_for('login')}}" class="btn btn-info" role="button">Login Here !!!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
