{% extends "base.html" %}
{% block title %}

{% endblock %}
    {% block content %}

<div class="container-fluid" style="background-color:#023e79;padding-top:10px;">
    <div class="row">
        <div class="col-md-9 col-xs-9">
            <!--width=400px height=120px-->
            <div style="color:#fff;">
                <h1 >Tutorial Flask <small>oleh Yunindyo Prabowo</small></h1>
            </div>
        </div>

        <div class="col-md-3 col-xs-3" style="padding-top:10px;">
             <a href="{{url_for('login')}}" class="btn btn-info" role="button">Login Here !!!</a>
        </div>
    </div>
</div>
    {% endblock %}
