{% extends "base.html" %}
{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="container" style="margin-top:50px;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading ">
                <center> NEWS UPDATE </center>
            </div>
            <div class="panel-body">
                <ul>
                {% for item in result %}
                    <li>{{ item[1] }}
                        
                     </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
{% endblock %}
